cloud_id                 = "b1guaauiv9b0002f1n7b"
folder_id                = "b1gibv0ivhcnnsd84u7b"
zone                     = "ru-central1-a"
image_id                 = "ru-central1"
public_key_path          = "files/ssh-keys/example.id_rsa.pub"
private_key_path         = "files/ssh-keys/example.id_rsa"
service_account_key_file = "e9b61r0111lelqfm495a"
subnet_id                = "enppa79v810oimc6t6gb"