cloud_id                 = "b1guaauiv9b0002f1n7a"
folder_id                = "b1gibv0ivhcnnsd84u7v"
zone                     = "ru-central1-a"
region                   = "ru-central1"
image_id                 = "fd8uqc9mag1154jh5mc5"
app_disk_image           = "fd85nhqflqc7der9mauo"
db_disk_image            = "fd8kfufp0hvlbrjj9fqg"
public_key_path          = "/home/noble/.ssh/id_rsa.pub"
private_key_path         = "/home/noble/.ssh/id_rsa"
service_account_key_file = "/home/noble/Документы/yc_service.key.json"
subnet_id                = "e9beq3luvvs4mtknnn0d"
network_id               = "enpf4k2unr9vge37c6mt"
reddit_app_count         = 1
s3_access_key            = "my_access_key"
s3_secret_key            = "my_secret_key"

